<div class="content bigDiv">
  <h1>Coming Soon</h1><br />
  <a class="backLink" href="https://sharklabz.shop">Back to Store</a><br />
  <div class="containerImgDiv">{{ 'ingredients.jpg' | asset_img_url: 'large' | img_tag: 'Supplement Facts for 2 scoop are as follows: 10 grams of l-Citrulline, 5 grams of GlycerSize, 5 grams of of l-Tyrosine, 2 grams of Agmatine Sulfate, 600 miligrams of alpha-gpc, 200 miligrams of l-Theanine, 200 miligrams of Caffeine Anhydrous, 50 miligrams of Infinergy, 50 miligrams of Theobromine. Other ingredients include: Malic Acid, Silicon Dioxide, N&A Flavors, Sucralose, Acesulfame Potassium, FD&C Blue #1.' }}</div>
</div>
<style>
  h1 {
    color: #147cbc;
    font-size: 37px;
    margin-bottom: 30px;
  }
  h1, .backLink {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  .backLink {
    color: black;
    font-size: 21px;
  }
  .bigDiv {
    margin-top: 70px;
    text-align: center;
  }
  .containerImgDiv img {
    width: 100%;
  }
  .containerImgDiv {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
</style>