<div class="heroImage content">
  <div class="aboutTitle">
    <h1>About Shark Labz</h1>
    <p>Premium and patented supplements, below market price.</p>
  </div>
</div>
<div class="content">
  <ul class="badges">
    <li class="content">
      {{ 'FDA (optimized).png' | asset_img_url: 'medium' | img_tag: 'Federal Drug Administration Registered Facility Badge' }}
    </li>
    <li class="content">
      {{ 'GMP (optimized).png' | asset_img_url: 'medium' | img_tag: 'Good Manufacturing Practices Badge' }}
    </li>
    <li class="content">
      {{ 'USA (optimized).png' | asset_img_url: 'medium' | img_tag: 'Manufactured in the USA Badge' }}
    </li>
  </ul>
  <h2 class="customerStrategy">What is Shark Labz?</h2>
  <p class="customerStrategy">
    Welcome to Shark Labz, where we're diving into the world of fitness nutrition with a splash! Killer Instinct is our very first product, and we're determined to make it a showstopper. We're not just about selling pre-workout; we're about crafting an experience you can trust. We've poured our passion into ensuring that Killer Instinct works, tastes amazing, and leaves you hungry for more, just like a shark on the hunt. We're committed to earning your trust because we believe that when you see the results and savor the flavor, you'll become a part of our Shark Labz family. Click the button below to explore Killer Instinct and join us on this exciting journey to fitness success. Your journey starts here, and it starts with trust.
    <a href="https://sharklabz.shop" class="aboutButton">Discover Killer Instinct Now</a>
  </p>
  <h2 class="customerStrategy">Customer First Strategy</h2>
  <p class="customerStrategy">
    The Shark Labz marketing strategy is to create supplements that bring value to the consumer. Innovation, quality, and transparency are at the utmost importance for Shark Labz branded products. Rest assured that your hard earned money is being used to bring you a superior pre-workout experience. Don’t pay for a large supplement company’s marketing budget.
    Pay for quality. 
  </p>
</div>
