<a href="#credibility" class="contentArrow content">
<span class="arrowHolder">
  <p class="showMeBenefits">Show Me the Benefits</p>
  <svg id="more-arrows">
    <polygon class="arrow-top" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7"/>
    <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7"/>
    <polygon class="arrow-bottom" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7"/>
  </svg>
</span>
</a>
