<div class="content">
  <div class="background">
    <ul class="card-list">
      <li class="card">
        <h3>Delicious Taste</h3>
        <div class="card-icon">
          <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 106.16" style="enable-background:new 0 0 122.88 106.16" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style><g><path class="st0" d="M4.02,44.6h27.36c2.21,0,4.02,1.81,4.02,4.03v53.51c0,2.21-1.81,4.03-4.02,4.03H4.02 c-2.21,0-4.02-1.81-4.02-4.03V48.63C0,46.41,1.81,44.6,4.02,44.6L4.02,44.6z M63.06,4.46c2.12-10.75,19.72-0.85,20.88,16.48 c0.35,5.3-0.2,11.47-1.5,18.36l25.15,0c10.46,0.41,19.59,7.9,13.14,20.2c1.47,5.36,1.69,11.65-2.3,14.13 c0.5,8.46-1.84,13.7-6.22,17.84c-0.29,4.23-1.19,7.99-3.23,10.88c-3.38,4.77-6.12,3.63-11.44,3.63H55.07 c-6.73,0-10.4-1.85-14.8-7.37V51.31c12.66-3.42,19.39-20.74,22.79-32.11V4.46L63.06,4.46z"/></g></svg>
        </div>
      </li>
      <li class="card">
        <h3>Transparent Label</h3>
        <div class="card-icon">
          <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="119.828px" height="122.88px" viewBox="0 0 119.828 122.88" enable-background="new 0 0 119.828 122.88" xml:space="preserve"><g><path d="M48.319,0C61.662,0,73.74,5.408,82.484,14.152c8.744,8.744,14.152,20.823,14.152,34.166 c0,12.809-4.984,24.451-13.117,33.098c0.148,0.109,0.291,0.23,0.426,0.364l34.785,34.737c1.457,1.449,1.465,3.807,0.014,5.265 c-1.449,1.458-3.807,1.464-5.264,0.015L78.695,87.06c-0.221-0.22-0.408-0.46-0.563-0.715c-8.213,6.447-18.564,10.292-29.814,10.292 c-13.343,0-25.423-5.408-34.167-14.152C5.408,73.741,0,61.661,0,48.318s5.408-25.422,14.152-34.166C22.896,5.409,34.976,0,48.319,0 L48.319,0z M77.082,19.555c-7.361-7.361-17.53-11.914-28.763-11.914c-11.233,0-21.403,4.553-28.764,11.914 C12.194,26.916,7.641,37.085,7.641,48.318c0,11.233,4.553,21.403,11.914,28.764c7.36,7.361,17.53,11.914,28.764,11.914 c11.233,0,21.402-4.553,28.763-11.914c7.361-7.36,11.914-17.53,11.914-28.764C88.996,37.085,84.443,26.916,77.082,19.555 L77.082,19.555z"/></g></svg>
        </div>
      </li>
      <li class="card">
        <h3>Premium Ingredients</h3>
        <div class="card-icon">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 117.19"><title>black-star</title><path d="M64.39,2,80.11,38.76,120,42.33a3.2,3.2,0,0,1,1.83,5.59h0L91.64,74.25l8.92,39a3.2,3.2,0,0,1-4.87,3.4L61.44,96.19,27.09,116.73a3.2,3.2,0,0,1-4.76-3.46h0l8.92-39L1.09,47.92A3.2,3.2,0,0,1,3,42.32l39.74-3.56L58.49,2a3.2,3.2,0,0,1,5.9,0Z"/></svg>
        </div>
      </li>
      <li class="card">
        <h3>Optimal Doses</h3>
        <div class="card-icon">
          <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 99.41 122.88" style="enable-background:new 0 0 99.41 122.88" xml:space="preserve"><g><path d="M65.17,59.23l21.97,25.83l0,0l0,0c3.21,3.8,7.56,9.92,10.1,16.04c1.52,3.67,2.42,7.38,2.1,10.72 c-0.34,3.71-2.08,6.87-5.88,8.93c-1.89,1.03-4.28,1.76-7.25,2.11c-0.1,0.01-0.19,0.02-0.28,0.02v0h-36.2h-36.2 c-0.15,0-0.29-0.01-0.44-0.04c-2.93-0.36-5.28-1.08-7.14-2.09c-3.86-2.09-5.59-5.27-5.91-9.02c-0.28-3.35,0.67-7.1,2.25-10.81 C5.01,94.58,9.64,88.2,12.9,84.34l21.21-25.12V28.65c-0.07-0.34-0.16-0.68-0.25-1.01c-0.12-0.43-0.25-0.85-0.4-1.28 c-0.76-2.19-1.93-4.37-3.52-6.46c-0.84-1.11-0.61-2.69,0.49-3.52c0.46-0.34,0.99-0.51,1.52-0.51v0h8.39 c-2-1.24-3.33-3.45-3.33-5.98c0-3.88,3.15-7.03,7.03-7.03c3.88,0,7.03,3.15,7.03,7.03c0,2.53-1.33,4.74-3.33,5.98H67.5 c1.39,0,2.52,1.13,2.52,2.52c0,0.68-0.27,1.3-0.71,1.75c-1.01,1.15-1.84,2.45-2.51,3.88c-0.68,1.43-1.21,3-1.63,4.7V59.23 L65.17,59.23z M55.75,74.6h16.54L60.9,61.95c-0.48-0.46-0.77-1.1-0.77-1.81v-31.7l0,0c0-0.19,0.02-0.39,0.07-0.58 c0.5-2.11,1.17-4.11,2.05-5.97c0.16-0.33,0.32-0.65,0.49-0.97h-26.2c0.66,1.25,1.22,2.53,1.67,3.83c0.18,0.53,0.35,1.06,0.49,1.59 c0.13,0.47,0.24,0.93,0.34,1.38c0.07,0.23,0.1,0.47,0.1,0.72l0,31.71c0,0.57-0.2,1.15-0.6,1.62C29.51,72.62,12.6,90.32,7.23,102.9 c-3.77,7.04-0.97,16.08,6.72,15.76h35.78h36.08c2.23-0.28,3.96-0.79,5.26-1.5c4.15-1.71,3.84-12.34,2.16-14.14 c-0.32-0.77-0.67-1.53-1.04-2.3c-0.14,0.03-0.3,0.05-0.44,0.05H67.4c-1.27,0-2.32-1.18-2.32-2.62v0c0-1.44,1.04-2.62,2.32-2.62 h21.84c-1.22-1.92-2.51-3.71-3.71-5.26c-0.11,0.02-0.23,0.03-0.34,0.03h-18.2c-7.07,0-6.14-5.24-1.97-5.24h16.17l-4.66-5.47 c-0.29,0.15-0.62,0.24-0.96,0.24H55.75C52.69,79.84,52.69,74.6,55.75,74.6L55.75,74.6z M26.03,25.71c2.67,0,4.83,2.17,4.83,4.83 c0,2.67-2.17,4.83-4.83,4.83c-2.67,0-4.83-2.16-4.83-4.83C21.19,27.88,23.36,25.71,26.03,25.71L26.03,25.71z M22.29,0 c4.73,0,8.57,3.84,8.57,8.57c0,4.73-3.84,8.57-8.57,8.57c-4.73,0-8.57-3.84-8.57-8.57C13.72,3.84,17.56,0,22.29,0L22.29,0z"/></g></svg>
        </div>
      </li>
      <li class="card">
        <h3>Delicious Taste</h3>
        <div class="card-icon">
          <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 106.16" style="enable-background:new 0 0 122.88 106.16" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style><g><path class="st0" d="M4.02,44.6h27.36c2.21,0,4.02,1.81,4.02,4.03v53.51c0,2.21-1.81,4.03-4.02,4.03H4.02 c-2.21,0-4.02-1.81-4.02-4.03V48.63C0,46.41,1.81,44.6,4.02,44.6L4.02,44.6z M63.06,4.46c2.12-10.75,19.72-0.85,20.88,16.48 c0.35,5.3-0.2,11.47-1.5,18.36l25.15,0c10.46,0.41,19.59,7.9,13.14,20.2c1.47,5.36,1.69,11.65-2.3,14.13 c0.5,8.46-1.84,13.7-6.22,17.84c-0.29,4.23-1.19,7.99-3.23,10.88c-3.38,4.77-6.12,3.63-11.44,3.63H55.07 c-6.73,0-10.4-1.85-14.8-7.37V51.31c12.66-3.42,19.39-20.74,22.79-32.11V4.46L63.06,4.46z"/></g></svg>
        </div>
      </li>
      <li class="card">
        <h3>Transparent Label</h3>
        <div class="card-icon">
          <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="119.828px" height="122.88px" viewBox="0 0 119.828 122.88" enable-background="new 0 0 119.828 122.88" xml:space="preserve"><g><path d="M48.319,0C61.662,0,73.74,5.408,82.484,14.152c8.744,8.744,14.152,20.823,14.152,34.166 c0,12.809-4.984,24.451-13.117,33.098c0.148,0.109,0.291,0.23,0.426,0.364l34.785,34.737c1.457,1.449,1.465,3.807,0.014,5.265 c-1.449,1.458-3.807,1.464-5.264,0.015L78.695,87.06c-0.221-0.22-0.408-0.46-0.563-0.715c-8.213,6.447-18.564,10.292-29.814,10.292 c-13.343,0-25.423-5.408-34.167-14.152C5.408,73.741,0,61.661,0,48.318s5.408-25.422,14.152-34.166C22.896,5.409,34.976,0,48.319,0 L48.319,0z M77.082,19.555c-7.361-7.361-17.53-11.914-28.763-11.914c-11.233,0-21.403,4.553-28.764,11.914 C12.194,26.916,7.641,37.085,7.641,48.318c0,11.233,4.553,21.403,11.914,28.764c7.36,7.361,17.53,11.914,28.764,11.914 c11.233,0,21.402-4.553,28.763-11.914c7.361-7.36,11.914-17.53,11.914-28.764C88.996,37.085,84.443,26.916,77.082,19.555 L77.082,19.555z"/></g></svg>
        </div>
      </li>
      <li class="card">
        <h3>Premium Ingredients</h3>
        <div class="card-icon">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 117.19"><title>black-star</title><path d="M64.39,2,80.11,38.76,120,42.33a3.2,3.2,0,0,1,1.83,5.59h0L91.64,74.25l8.92,39a3.2,3.2,0,0,1-4.87,3.4L61.44,96.19,27.09,116.73a3.2,3.2,0,0,1-4.76-3.46h0l8.92-39L1.09,47.92A3.2,3.2,0,0,1,3,42.32l39.74-3.56L58.49,2a3.2,3.2,0,0,1,5.9,0Z"/></svg>
        </div>
      </li>
      <li class="card">
        <h3>Optimal Doses</h3>
        <div class="card-icon">
          <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 99.41 122.88" style="enable-background:new 0 0 99.41 122.88" xml:space="preserve"><g><path d="M65.17,59.23l21.97,25.83l0,0l0,0c3.21,3.8,7.56,9.92,10.1,16.04c1.52,3.67,2.42,7.38,2.1,10.72 c-0.34,3.71-2.08,6.87-5.88,8.93c-1.89,1.03-4.28,1.76-7.25,2.11c-0.1,0.01-0.19,0.02-0.28,0.02v0h-36.2h-36.2 c-0.15,0-0.29-0.01-0.44-0.04c-2.93-0.36-5.28-1.08-7.14-2.09c-3.86-2.09-5.59-5.27-5.91-9.02c-0.28-3.35,0.67-7.1,2.25-10.81 C5.01,94.58,9.64,88.2,12.9,84.34l21.21-25.12V28.65c-0.07-0.34-0.16-0.68-0.25-1.01c-0.12-0.43-0.25-0.85-0.4-1.28 c-0.76-2.19-1.93-4.37-3.52-6.46c-0.84-1.11-0.61-2.69,0.49-3.52c0.46-0.34,0.99-0.51,1.52-0.51v0h8.39 c-2-1.24-3.33-3.45-3.33-5.98c0-3.88,3.15-7.03,7.03-7.03c3.88,0,7.03,3.15,7.03,7.03c0,2.53-1.33,4.74-3.33,5.98H67.5 c1.39,0,2.52,1.13,2.52,2.52c0,0.68-0.27,1.3-0.71,1.75c-1.01,1.15-1.84,2.45-2.51,3.88c-0.68,1.43-1.21,3-1.63,4.7V59.23 L65.17,59.23z M55.75,74.6h16.54L60.9,61.95c-0.48-0.46-0.77-1.1-0.77-1.81v-31.7l0,0c0-0.19,0.02-0.39,0.07-0.58 c0.5-2.11,1.17-4.11,2.05-5.97c0.16-0.33,0.32-0.65,0.49-0.97h-26.2c0.66,1.25,1.22,2.53,1.67,3.83c0.18,0.53,0.35,1.06,0.49,1.59 c0.13,0.47,0.24,0.93,0.34,1.38c0.07,0.23,0.1,0.47,0.1,0.72l0,31.71c0,0.57-0.2,1.15-0.6,1.62C29.51,72.62,12.6,90.32,7.23,102.9 c-3.77,7.04-0.97,16.08,6.72,15.76h35.78h36.08c2.23-0.28,3.96-0.79,5.26-1.5c4.15-1.71,3.84-12.34,2.16-14.14 c-0.32-0.77-0.67-1.53-1.04-2.3c-0.14,0.03-0.3,0.05-0.44,0.05H67.4c-1.27,0-2.32-1.18-2.32-2.62v0c0-1.44,1.04-2.62,2.32-2.62 h21.84c-1.22-1.92-2.51-3.71-3.71-5.26c-0.11,0.02-0.23,0.03-0.34,0.03h-18.2c-7.07,0-6.14-5.24-1.97-5.24h16.17l-4.66-5.47 c-0.29,0.15-0.62,0.24-0.96,0.24H55.75C52.69,79.84,52.69,74.6,55.75,74.6L55.75,74.6z M26.03,25.71c2.67,0,4.83,2.17,4.83,4.83 c0,2.67-2.17,4.83-4.83,4.83c-2.67,0-4.83-2.16-4.83-4.83C21.19,27.88,23.36,25.71,26.03,25.71L26.03,25.71z M22.29,0 c4.73,0,8.57,3.84,8.57,8.57c0,4.73-3.84,8.57-8.57,8.57c-4.73,0-8.57-3.84-8.57-8.57C13.72,3.84,17.56,0,22.29,0L22.29,0z"/></g></svg>
        </div>
      </li>
    </ul>
  </div>
</div>
<style>
  .background {
    background-image: url('{{ 'lab.jpg' | asset_img_url: 'medium' }}')
    width: 100%;
    height: 160px;
    background-position: center;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  @media screen and (min-width: 768px) {
    .background {
      height: 250px;
      margin-bottom: 89px;
    }
  }
</style>