<div class="content supplementFactsPage">
  <div class="titleAndImage">
    <h1>The Formula</h1>
    <div class="supplementFacts">
      <h2>Supplement Facts</h2>
      <p>Serving Size: 12.06g (1 Scoop) | 24.12g (2 Scoops)</p>
      <p>Servings Per Container: 20-40</p>
      <div class="divider"></div>
      <table>
        <tr>
        <th class="ingredientsTitle">Ingredient</th>
        <th class="scoopTitle">Amount Per 1 Scoop</th>
        <th class="scoopsTitle">Amount Per 2 Scoops</th>
      </tr>
      <tr>
        <td class="pumpIngredient">L-Citrulline</td>
        <td class="pumpIngredient">5000mg</td>
        <td class="pumpIngredient">10000mg</td>
      </tr>
      <tr>
        <td class="focusIngredient">L-Tyrosine</td>
        <td class="focusIngredient">2500mg</td>
        <td class="focusIngredient">5000mg</td>
      </tr>
      <tr>
        <td class="pumpIngredient">GlycerSize&trade;</td>
        <td class="pumpIngredient">1000mg</td>
        <td class="pumpIngredient">2000mg</td>
      </tr>
      <tr>
        <td class="pumpIngredient">Agmatine Sulfate</td>
        <td class="pumpIngredient">1000mg</td>
        <td class="pumpIngredient">2000mg</td>
      </tr>
      <tr>
        <td class="focusIngredient">Alpha GPC 50%</td>
        <td class="focusIngredient">300mg</td>
        <td class="focusIngredient">600mg</td>
      </tr>
      <tr>
        <td class="focusIngredient">L-Theanine</td>
        <td class="focusIngredient">100mg</td>
        <td class="focusIngredient">200mg</td>
      </tr>
      <tr>
        <td class="energyIngredient">Caffeine Anhydrous</td>
        <td class="energyIngredient">100mg</td>
        <td class="energyIngredient">200mg</td>
      </tr>
      <tr>
        <td class="pumpIngredient energyIngredient">Theobromine 20%</td>
        <td class="pumpIngredient energyIngredient">50mg</td>
        <td class="pumpIngredient energyIngredient">100mg</td>
      </tr>
      <tr>
        <td class="energyIngredient">Infinergy&trade;</td>
        <td class="energyIngredient">25mg</td>
        <td class="energyIngredient">50mg</td>
      </tr>
      </table>
      <div class="divider"></div>
      <p><b>Other Ingredients:</b> Malic Acid, Silicone Dioxide, N&A Flavors, Calcium Silicate, Sucralose, Acesulfame, Potassium, FD&C Blue 1</p>
    </div>
  </div>
  <div class="supplementInfo">
    <dl class="supplementInfoList">
      <dt>
        <button  aria-expanded="false" id="pumpButton" class="supplementButtons" onclick="expandInfo(1)">
          <span>Pump</span>
          <div class="arrowPumpButton ingredientsArrows">
            <span id="pumpLineOne">
            </span>
            <span id="pumpLineTwo">
            </span>
          </div>
        </button>
      </dt>
      <dd id="pumpInfo">
        blah blah blah
      </dd>
      <dt>
        <button id="focusButton" class="supplementButtons" onclick="expandInfo(2)">
          <span>Focus</span>
          <div class="arrowFocusButton ingredientsArrows">
            <span id="focusLineOne">
            </span>
            <span id="focusLineTwo">
            </span>
          </div>
        </button>
      </dt>
      <dd id="focusInfo">
        blah blah blah
      </dd>
      <dt>
        <button id="energyButton" class="supplementButtons" onclick="expandInfo(3)">
          <span>Energy</span>
          <div class="arrowEnergyButton ingredientsArrows">
            <span id="energyLineOne">
            </span>
            <span id="energyLineTwo">
            </span>
          </div>
        </button>
      </dt>
      <dd id="energyInfo">
        blah blah blah
      </dd>
    </dl>
  </div>
</div>

